@import "../color";
@import "../dimen";

.person-list {
  // display: grid;
  place-items: center;
  // height: 100vh;
}

.person-list-card {
  align-items: center;
  background-color: white;
  // display: flex;
  // width: 400px;
  border-radius: 12px;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.person-list-card div {
  padding: 12px;
}

.person-list-card:hover {
  box-shadow: -1px 4px 20px -6px $body-box-shadow;
  cursor: pointer;
}

.person-list-table {
  margin-left: 12px;
  margin-right: 12px;
}

.person-list-table tr :first-child {
  margin-right: 12px;
  float: right;
}

.person-item-delete-dropdown {
  padding: 0px;
  position: absolute;
  min-width: 46px;
  right: 0px;
  top: 40px;
  background-color: red !important;
  color: white;
  border-color: red;
  box-shadow: 2px 2px 5px rgba(201, 36, 36, 0.5);
  animation: slideLeft 0.2s ease-in-out;
  -webkit-animation: slideLeft 0.2s ease-in-out;
  -moz-animation: slideLeft 0.2s ease-in-out;
  -o-animation: slideLeft 0.2s ease-in-out;
}

@keyframes slideLeft {
  0% {
    right: -70px;
  }

  50% {
    right: 25px;
  }

  100% {
    right: 0px;
  }
}